:root {
    --clr-accent-100: #d1d1d1;
    --clr-bg: #121214;

    --ff-primary: "Poppins", sans-serif;
    --ff-body: var(--ff-primary);


}


/* Box sizing rules */
html {
    font-size: calc(60% + 0.8vmin);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}


/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--ff-body);
    background-color: var(--clr-bg);
    color: var(--clr-accent-100);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Custom styles */
.container {
    --max-width: 1440px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr;
}


aside, main {
    margin-top: 3rem;
}

main {
    background-color: var(--clr-accent-100);
    color: var(--clr-bg);
}

/*================ style  Aside */
.profile {
    position: relative;
    width: 70px;
}

.profile span {
    background: #DC3434;
    width: 8px;
    height: 8px;
    padding: 10px;
    position: absolute;
    font-size: 0.625rem;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--clr-accent-100);
    margin-bottom: 1rem;
}

.profile h2 {
    font-size: 1.875rem;
    font-weight: 600;
}

.profile p {
    font-size: 1.0625rem;

    margin-bottom: 6rem;
}

#menu {
    flex-direction: column;
    gap: 2rem;
    display: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 2.1875rem;
    transition: color 200ms;
}

#menu a:hover {
    color: #f4f4f5;
}

#menu-mobile {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}


/* home*/


.progress-info {
    width: 100%;
    height: 0.3125rem;
    border-radius: 5px;
    background: #ECEFF5;
}

.progress {
    width: 4.375rem;
    height: 0.3125rem;
    border-radius: 5px;
    background: #31BA96;
}


@media (min-width: 50em) {
    #menu {
        display: flex;
    }

    .even-columns {
        grid-template-columns: 200px 1fr;
    }

}